Package: com.cabralcole.cleardock
Name: ClearDock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Transparent Dock for iOS 9.0+!
Maintainer: cabralcole
Author: cabralcole
Section: Tweaks
